<%= turbo_frame_tag dom_id(message) do %>
  <div class="row mx-10">
    <div>
      <span class="text-primary mr-4"><%= User.find(message.user_id).name %></span>
      <span class="ml-10"><%= message.body %></span>
    </div>
  </div>
<% end %>
