/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import 'variable';
 @import 'sidebar';

 /*--------------------------------------------------------------
 # General
 --------------------------------------------------------------*/
 body {
   font-family: $primary-font;
 }

 a {
   color: $link-color;
 }

 a:hover {
   color: $link-hover-color;
   text-decoration: none;
 }

 h1, h2, h3, h4, h5, h6, .font-primary {
   font-family: $secondary-font;
 }

 /*--------------------------------------------------------------
 # Header
 --------------------------------------------------------------*/
 #header {
   height: 72px;
   transition: all 0.5s;
   z-index: 997;
   transition: all 0.5s;
   padding: 15px 0;
   background: $white;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
 }

 #header .logo h1 {
   font-size: 30px;
   margin: 0;
   padding: 6px 0;
   line-height: 1;
   font-weight: 400;
   letter-spacing: 2px;
 }

 #header .logo h1 a, #header .logo h1 a:hover {
   color: $logo-color;
   text-decoration: none;
 }

 #header .logo img {
   padding: 0;
   margin: 0;
   max-height: 40px;
 }

 #main {
   margin-top: 72px;
 }

 /*--------------------------------------------------------------
 # Navigation Menu
 --------------------------------------------------------------*/
 /* Desktop Navigation */
 .nav-menu, .nav-menu * {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .nav-menu > ul > li {
   position: relative;
   white-space: nowrap;
   float: left;
 }

 .nav-menu a {
   display: block;
   position: relative;
   color: $hero-heading-color;
   padding: 10px 15px;
   transition: 0.3s;
   font-size: 15px;
   font-family: $primary-font;
 }

 .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
   color: $link-color;
   text-decoration: none;
 }

 .nav-menu .get-started a {
   background: $primary-color;
   color: $white;
   border-radius: 50px;
   margin: 0 15px;
   padding: 10px 25px;
 }

 .nav-menu .get-started a:hover {
   background: $link-hover-color;
   color: $white;
 }

 /*--------------------------------------------------------------
 # Hero Section
 --------------------------------------------------------------*/
 #hero {
   width: 100%;
   // height: 100vh;
   background: $bg-color;
   border-bottom: 2px solid $bg-border-color;
   margin: 72px 0 -72px 0;
 }

 #hero h1 {
   margin: 0 0 10px 0;
   font-size: 48px;
   font-weight: 700;
   line-height: 56px;
   color: $hero-heading-color;
 }

 #hero h2 {
   color: $hero-subheading-color;
   margin-bottom: 50px;
   font-size: 24px;
 }

 #hero .btn-get-started {
   font-family: $secondary-font;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 1px;
   display: inline-block;
   padding: 8px 28px;
   border-radius: 3px;
   transition: 0.5s;
   margin: 10px;
   color: $white;
   background: $primary-color;
 }

 #hero .btn-get-started:hover {
   background: $link-hover-color;
   text-decoration: none;
 }

 @media (min-width: 1024px) {
   #hero {
     background-attachment: fixed;
   }
 }

 @media (max-width: 991px) {
   #hero {
     height: calc(100vh - 72px);
   }
   #hero .hero-img {
     text-align: center;
   }
   #hero .hero-img img {
     width: 50%;
   }
 }

 @media (max-width: 768px) {
   #hero h1 {
     font-size: 28px;
     line-height: 36px;
   }
   #hero h2 {
     font-size: 18px;
     line-height: 24px;
     margin-bottom: 30px;
   }
   #hero .hero-img img {
     width: 70%;
   }
 }

 @media (max-width: 575px) {
   #hero .hero-img img {
     width: 80%;
   }
 }

 .main-image {
    border-radius: 50%;
}

 /*--------------------------------------------------------------
 # Sections General
 --------------------------------------------------------------*/
 section {
   padding: 110px 0;
 }

 .section-bg {
   background-color: $bg-color;
 }

 .section-title {
   text-align: center;
   padding-bottom: 30px;
 }

 .section-title h2 {
   font-size: 24px;
   font-weight: 700;
   padding-bottom: 0;
   line-height: 1px;
   margin-bottom: 15px;
   color: $section-title-color;
 }

 .section-title p {
   padding-bottom: 15px;
   margin-bottom: 15px;
   position: relative;
   font-size: 32px;
   font-weight: 700;
   color: $hero-heading-color;
 }

 .section-title p::after {
   content: '';
   position: absolute;
   display: block;
   width: 60px;
   height: 2px;
   background: $link-color;
   bottom: 0;
   left: calc(50% - 30px);
 }

 /*--------------------------------------------------------------
 # Services
 --------------------------------------------------------------*/
 .services .icon-box {
   padding: 30px;
   position: relative;
   overflow: hidden;
   margin: 0  0 40px 0;
   background: $white;
   box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
   transition: all 0.3s ease-in-out;
   border-radius: 15px;
   text-align: center;
   border-bottom: 3px solid $white;
 }

 .services .icon-box:hover {
   transform: translateY(-5px);
   border-color: $primary-color;
 }

 .services .icon i {
   font-size: 48px;
   line-height: 1;
   margin-bottom: 15px;
   color: $service-icon-color;
 }

 .services .title {
   font-weight: 700;
   margin-bottom: 15px;
   font-size: 18px;
 }

 .services .title a {
   color: #111;
 }

 .services .description {
   line-height: 28px;
   margin-bottom: 5px;
 }

 /*--------------------------------------------------------------
 # Book an appointment
 --------------------------------------------------------------*/
 .btn-appointment {
   font-family: $secondary-font;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 1px;
   display: inline-block;
   padding: 8px 28px;
   border-radius: 3px;
   transition: 0.5s;
   // margin: 10px;
   color: $white !important;
   background: $primary-color !important;
   border: 1px solid $primary-color !important;
}

.btn-appointment:hover {
   background: $link-hover-color !important;
}

.book-appointment {
   text-decoration: underline;
}

 /*--------------------------------------------------------------
 # F.A.Q
 --------------------------------------------------------------*/
 .faq {
   padding: 110px 0;
 }

 /*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
 #footer {
   background: $white;
   padding: 0 0 30px 0;
   color: $footer-color;
   font-size: 14px;
   background: $bg-color;
 }

 #footer .copyright {
   text-align: center;
   float: left;
 }

 #footer .credits {
   float: right;
   text-align: center;
   font-size: 13px;
   color: $footer-color;
 }

 @media (max-width: 575px) {
   #footer .copyright, #footer .credits {
     float: none;
     -moz-text-align-last: center;
     text-align-last: center;
     padding: 3px 0;
   }
 }

 /*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
 .authentication-page {
    // background-color: $bg-color;
    // background-size: cover;
}
 .authentication-page .card {
   margin-top: 15%;
 }
