$white: #fff;
$primary-color: #1b9df7;
$bg-color: #f0f6fa;
$link-color: #87cefa;
$link-hover-color: #098ae3;
$logo-color: #7a6960;
$bg-border-color: #e1eef7;
$hero-heading-color: #4e4039;
$hero-subheading-color: #94a5b0;
$section-title-color: #a9b9c4;
$service-icon-color: #ef7f4d;
$footer-color: #212529;

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
